*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body,
#header,
#container,
#footer {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

body {
  flex-direction: column;
  background-color: #333;
}

#header,
#footer {
  padding: 100px;
  width: 860px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px 50px 100px;
  color: white;
  font-size: 72px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

#container {
  width: 860px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

#sidebar {
  padding: 50px;
  height: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sidebar-button {
  font-family: Helvetica, sans-serif;
  background-color: #666;
  color: #FFF;
  padding: 8px 24px;
  border-radius: 5px;
  font-size: 1rem;
  width: 250px;
  transition: all 0.2s ease;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #FFF;
  color: #666;
  scale: 1.05;
  border: 1px solid gold;
}

#canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #FFFFFF;
  border: 10px double black;
  box-sizing: content-box;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.row {
  width: 100%;
  flex: 1;
}

#footer {
  font-size: 16px;
  color: #FFF;
}

#footer a {
  text-decoration: none;
  color: #FFF;
  transition: all 0.2s ease;
}

#footer a i:hover {
  color: gold;
  scale: 1.5;
}